# Web Scraping
aiohttp
bs4
requests

# Image & Video Processing
Pillow

# Machine Learning & Data Science
numpy
pandas

# Networking & Web APIs
asyncio
quart
requests

# Databases & ORM
pymongo

# Automation, Scheduling & Task Queue
schedule
watchdog

# Telegram
telebot
